.App {
  text-align: center;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

.App-logo {
  border-radius: 0px;
  justify-self: center;
  align-items: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
}
.spanSpace {
  height: 32px;
}
.App-link {
  filter: grayscale();
}

.projectTiles {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: left;
  max-width: 80%;
  text-decoration: underline;
}

.projectHeaders {
  align-items: left;
  justify-self: left;
  align-content: left;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: black;
}

.Project-Preview {
  max-height: 100%;
  max-width: 100%;
  border-radius: 0px;
  margin-bottom: 24px;
  object-fit: scale-down;
  justify-content: center;
}

.LinkLogos {
  width: 36px;
  height: 36px;
  align-self: center;
  justify-self: center;
  padding: 4px;
}
.LinkLogos1 {
  width: 45px;
  height: 45px;
  align-self: center;
  justify-self: center;
  padding: 4px;
}

.socialLinks {
  /* flex: auto; */
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  /*Uses scrollAnimation.js*/
  opacity: 30;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}
